body{
    background-color: white;
}

.Heading{
    background-color: rgb(251, 179, 158);
    height: 180px;
}

.img1{
    border-radius: 150px;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 15px;
}

.Name{
    float: right;
    margin-right: 250px;
    margin-top: 30px;
}

.title{
    margin-left: 90px;
    margin-top: -150px;
    color: white;
    background-color: rgb(72, 69, 69);
    padding-top: -5px;
    padding-bottom: -5px;
}

h2{
    padding-left: 350px;
    padding-right: 200px;
}

.profile{
    background-color: whitesmoke;
    margin-top: -32px;
    margin-right: 600px;
}

.sub{
    margin-left: 175px;
    padding-top: 40px;
    font-weight: 700;
    font-size: xx-large;
}

.text{
    padding: 15px;
    padding-top: 0px;
}

.Contact{
    margin-left: 160px;
    font-weight: 700;
    font-size: xx-large;
}

.img2{
    font-size: small;
    margin-left: 50px;
}

.number{
    float: right;
    margin-right: 150px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.img3{
    font-size: small;
    margin-left: 50px; 
    margin-top: 15px;
}

.email{
    float: right;
    margin-right: 140px;
    margin-top: 30px; 
}

.img4{
    font-size: small;
    margin-left: 50px; 
    margin-top: 12px;
}

.location{
    float: right;
    margin-right: 110px;
}

.competence{
    margin-left: 110px;
    font-weight: 700;
    font-size: xx-large;
}

.chart1{
    background-color:rgb(251, 179, 158);
    margin-right: 245px;
    margin-left: 15px;
}

.mails{
    padding-left: 155px;
}

.chart2{
    background-color: rgb(248, 216, 206);
    margin-right: 280px;
    margin-left: 15px;
}

.photoshop{
    padding-left: 120px;
}

.chart3{
    background-color: rgb(251, 179, 158);
    margin-right: 330px;
    margin-left: 15px;
}

.photo{
    padding-left: 70px;
}

.chart4{
    background-color: rgb(248, 216, 206);
    margin-right: 280px;
    margin-left: 15px;
}

.maths{
    padding-left: 120px;
}

.chart5{
    background-color: rgb(251, 179, 158);
    margin-right: 260px;
    margin-left: 15px;
}

.html{
    padding-left: 140px;
}

.chart6{
    background-color: rgb(248, 216, 206);
    margin-right: 330px;
    margin-left: 15px;
}

.css{
    padding-left: 70px;
}

.social{
    margin-left: 150px;
    font-weight: 700;
    font-size: xx-large;
}

.Instagram{
    float: right;
    margin-right: 140px;
    margin-top: -40px; 
}

.link{
    float: right;
    margin-right: 140px;
    margin-top: 20px; 
}

.profile2{
    float: right;
    margin-top: -1110px;
    margin-right: 100px;
}

.prof{
    font-weight: 700;
    font-size: x-large;
    background-color: rgb(72, 69, 69);
    color: white;
    margin-left: 403px;
    margin-right: -100px;
    padding-left: 180px;
}

.soc{
    float: right;
    margin-right: 380px;
    margin-top: 0px;
}

.tit{
    float: right;
    margin-left: 400px;
    margin-right: 185px;
    margin-top: -57px;
}

.desc{
    float: right;
    margin-left: 585px;
    margin-right: -80px;
    margin-top: -40px;
    margin-bottom: -15px;
}

.img4{
    margin-left: 405px;
    margin-top: -5px;
}

.soc2{
    float: right;
    margin-right: 380px;
    margin-top: 55px;
}

.tit2{
    float: right;
    margin-left: 400px;
    margin-right: 185px;
    margin-top: -56px;
}

.desc2{
    float: right;
    margin-left: 585px;
    margin-right: -80px;
    margin-top: -38px;
    margin-bottom: 15px;
}

.img5{
    margin-left: 405px;
    margin-top: 55px;
}

.soc3{
    float: right;
    margin-right: 380px;
    margin-top: 15px;
}

.tit3{
    float: right;
    margin-left: 400px;
    margin-right: 185px;
    margin-top: -58px;
}

.desc3{
    float: right;
    margin-left: 585px;
    margin-right: -80px;
    margin-top: -40px;
    margin-bottom: -15px;
}

.img6{
    margin-left: 405px;
    margin-top: 15px;
}

.soc4{
    float: right;
    margin-right: 380px;
    margin-top: 155px;
}

.tit4{
    float: right;
    margin-left: 400px;
    margin-right: 185px;
    margin-top: -146px;
}

.desc4{
    float: right;
    margin-left: 585px;
    margin-right: -80px;
    margin-top: -138px;
    margin-bottom: -15px;
}

.img7{
    margin-left: 405px;
    margin-top: 155px;
}